extends layout
block content
	h2.
		Privacy 
	h4. 
		Effective 2016

	p.
		At Molli, we understand that you care about your personal information, so we

		have prepared our privacy-policy (our "Privacy Policy") to explain how we collect,

		use, and share it. For us, "personal information" means any information that

		identifies you, such as your name or email address. Information that falls outside

		of this is "non-personal information." As used below, "Molli Services" means any

		website or application provided by Molli.

		We might need to change this policy from time to time. We reserve the right to

		make changes to our privacy policy at any time without notice. Your use of the

		Molli Mobile Video App or the Molli.tv site constitutes your acceptance of the

		updated privacy policy and any future changes to it.

		1. Information We Will Collect

		We learn information about you when:

		You choose to provide Molli with information. For example, you may submit

		information such as your first name and last, telephone number, mailing address

		and email address when creating a user account or utilizing the contact feature

		on Molli's website.

		We or our service providers may gather information regarding your use of the

		Molli Services.

		We may use cookies, clear GIFs, 3rd party analytics providers (who may place

		cookies or clear GIFs on your device), device and software information,

		connection and carrier information, referral URLs, advertising data, and IP

		address and standard web log information for functionality and to better

		understand users’ interaction with our products, services, or communications. We

		may combine and store information about you provided by third parties with other

		information we may have already received from you or collected from you. Our

		third party providers may collect personal information about your online activities

		over time and across different websites outside molli.tv. Our privacy policy does

		not cover the use of tracking tools from third parties. We do not have access or

		control over third parties.

		If you do not want information collected through the use of cookies, there is a

		simple procedure in many browsers that allows you to deny or accept the cookie

		feature. Note that certain features of our products and services may not function

		properly without the aid of cookies.

		2. Protection of Your Personal Information

		We believe we use reasonable admin, technical, and physical measures to

		safeguard your personal information against loss, theft and unauthorized access,

		use and modification. Like most online or mobile services, Molli’s cloud data

		servers are owned and operated by a 3rd party. Unfortunately, no measures can

		be guaranteed to provide 100% security. Accordingly, we cannot reasonably

		guarantee the security of your information.

		3. Use of Information Obtained by Molli

		Reasons we may use your personal information:

		To provide, understand and improve the Molli Services.

		To send you information you request.

		To alert you to the latest developments and features on the Molli Services (both

		in-app and on web browsers) and to notify you of administrative information, such

		as security or support and maintenance advisories.

		To prevent, detect and investigate potentially prohibited or illegal activities,

		including fraud, and enforce our terms.

		4. Sharing of Personal Information Obtained by Molli

		Reasons we may share your information:

		When you use Molli Services to share information such as an in-app mobile

		video montage. Some Molli Services provides the ability for you to share

		comments, content, and information with Molli, other users, or the public. You

		should be aware that any such information will, by virtue of being shared,

		become accessible by others, and Molli cannot control what others do with that

		information. We are not responsible for the information you choose to share with

		other users or the public through the Molli Services.

		With individuals or companies who help us provide and improve the Molli

		Services or manage our relationship with you. For example, we engage service

		providers to provide telephone services, cloud data storage, marketing,

		advertising, customer relationship management and customer service, and any

		analytics regarding use of Molli Services.

		For reporting or audit purposes, we may provide data to business partners for

		reporting or audit purposes.

		When/if the law requires it. We may be required to disclose personally-
		identifiable information pursuant to lawful requests, such as subpoenas or court

		orders, or in compliance with applicable laws. Nothing in this policy is intended to

		limit any legal defenses or objections that you may have to a third party's request

		to disclose your information.

		When/if we believe it is necessary to prevent harm to you or someone else. We

		will only share your information in this way if we have belief that it is reasonably

		necessary to protect the rights, property or safety of you, our other users, Molli or

		the general public. This will be subjective and assessed as a case-by-case basis.

		If our organizational structure or status changes (if we undergo a restructuring,

		get acquired, or go bankrupt) we may pass your information to the successor.

		We may also share your information with a potential new owner when they are

		evaluating our company and in connection with borrowing money, issuing stock,

		or partnership agreements. In all of these cases we require the persons gaining

		access to your information to agree to confidentiality and use it only for

		evaluation purposes only.

		5. Some Other Things We Think You Should Know

		3rd party links. The Molli Services may contain links to other websites or

		services. We are not responsible for the privacy practices of other websites or

		services and we encourage users to be aware that when they leave Molli

		Services (both in-app and web browser) to read the privacy statements of other

		websites and services that collect your personally identifiable information. This

		Privacy Policy applies only to information collected by Molli via the Molli Services.

		Content Created. Any and all content generated using the Molli Services is

		property of Molli Services. We reserve the right to use the content in any way and

		at our discretion.

		Policies Concerning Children. If you are under 13, we don't want your personal

		information, and you do not need to it to us. If you are a parent and believe that

		your child who is under 13 has provided us with their personal information,

		please contact us at team@molli.tv to have your child's information removed.

		Changing or Deleting Personal Information. If you want to make a correction to

		your information or have questions about our privacy policies, please contact us

		through email at team@molli.tv. You may request that Molli delete your personal

		information by sending a request toteam@molli.tv. We will implement reasonable

		efforts to delete your personal information, though there may be some delay in

		deleting such data, and Molli cannot reasonably guarantee complete or

		comprehensive removal of the content or information you may have posted or

		otherwise made available publicly on the Molli Services.

		Opting out of Marketing Communications. You may opt out of marketing

		communications by sending a request to team@molli.tv.
	br
	br
	br
	h2.
		Terms 
	p.
		By using the Molli (referred to as “Molli”, “Molli Montages”, “Molli.tv) mobile app you

		are agreeing to be bound by the following terms and conditions ("Terms of Use").

		Basic Terms:

		 You must be 13 years or older to use our service.

		 You may not post partially nude, nude, or sexually suggestive photos or videos

		 You are responsible for all activity that occurs under your account.

		 You must not abuse, threaten, harass, impersonate or intimidate other Molli

		users.

		 You may not use the Molli service for any illegal or unauthorized purpose.

		 International users agree to comply with their local laws regarding online conduct

		and acceptable content.

		 You are solely responsible for your conduct and any text, data, information,

		screen names, graphics, photos, profiles, audio and videos, montages, links

		("Content") that you submit, post, and display on the Molli service.

		 You must not modify, adapt or hack Molli Montages or modify another website

		so as to falsely imply that it is associated with Molli.

		 You must not access Molli’s private API by any other means other than the Molli

		Montage application itself.

		 You must not crawl, scrape, or otherwise cache any content from Molli including

		but not limited to user profiles and photos.

		 You must not create or submit unwanted email or comments to any Molli

		members ("Spam").

		 You must not use web URLs in your name without prior written consent from

		Molli

		 You must not transmit any viruses or worms or any code of a destructive nature.

		 You must not, in the use of Molli, violate any laws in your jurisdiction (including

		but not limited to copyright laws).

		 Violation of any of these agreements can and will result in the termination of

		your Molli account. While Molli prohibits such conduct and content on its site,

		you understand and agree that Molli cannot be responsible for the Content

		posted on its service and you nonetheless may be exposed to such materials and

		that you use the Molli service at your own risk.

		General Conditions

		 We reserve the right to modify or terminate the Molli service for any reason,

		without notice at any time.

		 We reserve the right to alter these Terms of Use at any time.

		 We reserve the right to refuse service to anyone for any reason at any time.

		 We reserve the right to force forfeiture of any user account that becomes violates

		trademark, inactive, or may mislead other users.

		 We may, but have no obligation to, remove any content or accounts containing

		content that we determine in our sole discretion are unlawful, offensive,

		threatening, defamatory, libelous, obscene or otherwise objectionable or violates

		any party's intellectual property or these Terms of Use.

		 We reserve the right to reclaim usernames on behalf of businesses or individuals

		that hold legal claim or trademark to those usernames.

		Proprietary Rights in Content on Molli

		 Molli does NOT claim ANY ownership rights in the text, files, images, photos,

		video, sounds, musical works, works of authorship, applications, or any other

		materials (collectively, "Content") that you post on or through the Molli Services.

		 By displaying or publishing ("posting") any Content on or through the Molli, you

		hereby grant to Molli a non-exclusive, fully paid and royalty-free, worldwide,

		limited license to use, modify, add to, delete from, publicly perform, publicly

		display, reproduce and translate such Content, including without limitation

		distributing part or all of the Site in any media formats through any media

		channels

		 Some of the Molli assets may be supported by advertising revenue and may

		display advertisements and promotions, and you hereby agree that Molli may

		place such advertising and promotion on Molli or on, about, or in conjunction

		with your Content. The manner, mode and extent of such advertising and

		promotion are subject to change without any specific notice.

		 You represent and warrant that:

		1. you own the Content posted by you on or through the Molli or otherwise

		have the right to grant the license set forth within this section

		2. the posting and use of your Content on or through Molli does not violate

		the privacy rights, publicity rights, copyrights, contract rights, intellectual

		property rights or any other rights of any person, and

		3. the posting of your Content on the Molli App and Molli.tv site does not

		result in a breach of contract between you and a third party. You agree to

		pay for all royalties, fees, and any other monies owing any person by

		reason of Content you post on or through Molli.

		 Respecting Copyright

		Molli.tv honors the requirements set forth in the Digital Millennium Copyright

		Act. We therefore take reasonable steps to expeditiously remove from our

		Services any infringing material that we become aware of. If you believe that user

		generated content infringes a copyright that you own or control, please email

		team@molli.tv.

		 The Molli app and Molli.tv contain Content of Molli ("Molli Content"). Molli

		Content is protected by copyright, trademark, patent, trade secret and other laws,

		and Molli owns and retains all rights in the Molli Content and the Molli owned

		assets. Molli hereby grants you a limited, revocable, nonsublicensable license to

		reproduce and display the Molli Content (excluding any software code) solely for

		your personal use in connection with viewing the Site and using the Molli

		Services.

		 The Molli Services contain Content of Users and other Molli licensors. Except as

		provided within this Agreement, you may not copy, modify, publish, translate,

		broadcast, transmit, distribute, perform, display, or sell any Content appearing on

		or through Molli assets.

		 Molli performs technical functions necessary to offer Molli, including but not

		limited to transcoding and/or reformatting Content to allow its use throughout

		Molli.

		 Although the Site and other Molli Services are normally available, there will be

		occasions when the Site or other Molli Services will be interrupted for scheduled

		maintenance, upgrades, for emergency repairs, or due to failure of

		telecommunications links and equipment that are beyond the control of Molli.

		Also, although Molli will normally only delete Content that violates this

		Agreement, Molli reserves the right to delete any Content for any reason, without

		any prior notice. Deleted content may be stored by Molli in order to comply with

		certain legal obligations and is not retrievable without a valid court order.

		Consequently, Molli encourages users to maintain their own backup of Content.

		In other words, Molli is not a backup service. Molli will not be liable to you for

		any modification, suspension, or discontinuation of Molli assets, or the loss of any

		Content.