extends layout
block content
  script.
    $(document).ready(function(){
        var videoPlayer= document.getElementById('video');
        montage = JSON.parse(montage);

        videoPlayer.src= "http://Molli.tv/videos/" + montage.views;
        var i = 1;
        videoPlayer.addEventListener('ended', function(){
        if(i < montage.videos.length){
            this.pause();
            this.src = "http://Molli.tv/montage.videos/" + montage.videos;
            i++;
          }
          else{
            this.src = "http://Molli.tv/montage.videos/" + montage.videos;
            i = 1;
          }

            }, false);
    });
    
  div(class="col-lg-3" style="padding-top:2%;")
    img(src="/img/LOGO.png")
  div(class="col-lg-9")
  br
  br
  div(class="col-lg-8 col-lg-offset-2")
    video(style="height:50vh;width:50vw;top:25%")